.App {
  text-align: center;
}
/* .particles{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}; */
/* div.container.masuk{
  margin-bottom: -650px;
  padding-top: -650px;
} */
/* @media screen and (max-width: 400px) {
  .masuk {
      margin-top: 200px;
  }
} */
.particles{
  position: relative;
  /* margin-bottom: 300px;  */
  /* width: max-content; */
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
   
};